 /* All */
 html {
    scroll-behavior: smooth;
    }

  * {

      font-family:  cursive; 
      color: white ;
      
    }

 

    body {
      background-color: #2234ae;
      background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    }

    body::-webkit-scrollbar {
      display: none;
    }

    #headings { 
      text-align: center;
    }
/* header + Home */
  
    #title {   
      margin-left: 20px;
    }

    .navigation-wrapper { 
    display: flex;
    flex-direction:row; 
    justify-content: space-between;
    z-index: 500;
    }

    .navigation-wrapper li a:last-child {
      margin-right: 5pc;
    }

    .navtop {
      position: fixed;
      top: 0  ;
      width: 100%;
      background-color: #191714;
      height: 59px  ;
      z-index: 500; /* stops text from clipping into navbar*/
     }

    h1 {
      font-size: x-large;
    }

    a {
    text-decoration: none; 
    margin-left: 5pc; 
    }

    nav ol {
    list-style: none; 
    }
    
    nav{  
      margin-right: auto;
    }


    /* About */
    img {
      border-radius: 50%;
      border: 2px black solid;
    }
    .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;   
    }

    .about { 
    border: 5px solid transparent; 
    padding: 5pc;
    margin-right: 3px;
    }

   /* .right { 
    border: 5px solid transparent;
    padding: 5pc;
    margin-left: 3px;
    } */

    img {
    width: 90%;
    height: auto;
    }

    /* Skills */

    .container-1{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;   
      }

    .spacing{ 
      border: 1px solid ; 
      padding: 5pc;
      margin: 10px;
      text-align: center;
      
      
    }

    .spacing ul {
      list-style: none !important;
    }
    .hidden {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1s   ;
      
    }
    
    .show{
      opacity: 0.9;
      filter: blur(0);
      transform: translateX(0);
    }


    ul {
      line-height: 2.5;
    }

/* Projects */
  

 .posts {
  border: 1px solid ; 
  padding: 5pc;
  margin: 10px; 
  display: flex;
  flex-direction: row;
 }

 .pro-head {
  padding: 1pc;
  margin: 10px;  
 }

 .pro-head a {
margin-left: auto;
}



